
<head>
    <meta charset="UTF-8">
</head>
<body>
<p style="text-align: center;"><strong>Общество с ограниченной ответственностью &laquo;Сервионика&raquo;<br />(ООО &laquo;Сервионика&raquo;)</strong></p>
<p style="text-align: center;"><strong>Технический акт оказанных услуг &laquo;{{day}}&raquo; &nbsp;{{month}}&nbsp;&nbsp; {{year}} г.</strong><br />
    по Договору &laquo;16&raquo; февраля 2023г. № 108672-1/23ПС</p>
<p style="text-align: center;"><em>по заявке № {{num_rp}} {{num_im}} от &laquo;{{day_crt}}&raquo; {{month_crt}} {{year_crt}} г.</em></p>
<p><br />Заказчик: ООО &laquo;Почта Сервис&raquo; УФПС РЕСПУБЛИКИ БАШКОРТОСТАН</p>
<p><br />Площадка Обслуживания: {{index_adress}}</p>
<p style="text-align: center;">&nbsp;Оказанные услуги:</p>
<table width="100%" style="width: 100%; border-collapse: collapse;" border="1">
<tbody>

<tr style="height: 60px;">
    <td style="width: 5%; height: 60px;"><p><strong>№</strong></p></td>
    <td style="width: 35%; height: 60px;"><p><strong>Наименование и серийный номер оборудования</strong></p></td>
    <td style="width: 15%; height: 60px;"><p><strong>Номер КЕ</strong></p></td>
    <td style="width: 20%; height: 60px;"><p><strong>Наименование и серийный номер узла</strong></p></td>
    <td style="width: 40%; height: 60px;"><p><strong>Оказанные услуги</strong></p></td>
</tr>

<tr style="height: 20px;">
    <td><p>1</p></td>
    <td><p>{{model_ke}}</p></td>
    <td></td>
    <td><p>{{num_ke}}</p></td>
    <td><p>{{work}}</p></td>
</tr>

<tr style="height: 20px;">
    <td><p>2</p></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr style="height: 20px;">
    <td><p>3</p></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

</tbody>
</table>

<p style="text-align: center;">&nbsp;При оказании этих услуг были выявлены следующие несоответствия условий эксплуатации:</p>

<table width="100%" border="1" style="height: 127px; width: 100%; border-collapse: collapse;">
<tbody>
<tr style="height: 20px;">
    <td style="width: 5%; height: 60px;"><p><strong>№</strong></p></td>
    <td><p><strong>Описание несоответствия</strong></p></td>
</tr>
<tr style="height: 20px;">
    <td><p>1</p></td>
    <td></td>
</tr>
<tr style="height: 20px;">
    <td><p>2</p></td>
    <td></td>
</tr>
<tr style="height: 20px;">
    <td><p>3</p></td>
    <td></td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;При оказании этих услуг были использованы следующие расходные материалы, ЗиП, ФН и прочие материалы (все вместе &ndash; Материалы):</p>

<table width="100%" border="1" style="height: 95px; width: 100%; border-collapse: collapse;">
<tbody>
<tr>
    <td><strong>№</strong></td><td><strong>Наименование материала</strong></td>
    <td><p><strong>Серийный номер</strong></p></td>
    <td><p><strong>Количество</strong></p></td>
</tr>
<tr>
    <td width="5%">1</td>
    <td width="58%"></td>
    <td width="40%"></td>
    <td width="25%"></td>
</tr>
<tr>
    <td>2</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>3</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody>
</table>

<p><br /><strong>Претензий по объему и качеству оказанных услуг у Заказчика к Исполнителю нет.</strong></p>
<p><br /><strong>Время и дата окончания оказания услуг: _____час. _____мин., {{day}}.{{month}}.{{year}}г.</strong></p>
<br /><br />

<table style="height: 79px; width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr style="height: 18px;">
<td style="width: 60.8209%; height: 18px;"><strong>Услуги выполнил</strong></td>
<td style="width: 39.1791%; height: 18px;"><strong>Услуги принял</strong></td>
</tr>
<tr style="height: 43px;">
<td style="width: 60.8209%; height: 43px;">_____________ / <strong>{{fio_ispolnitel}}</strong></td>
<td style="width: 39.1791%; height: 43px;">______________ /________________</td>
</tr>
<tr style="height: 18px;">
<td style="width: 60.8209%; height: 18px;"><strong><sup>Подпись, расшифровка</sup></strong></td>
<td style="width: 39.1791%; height: 18px;"><strong><sup>Подпись, расшифровка</sup></strong></td>
</tr>
</tbody>
</table>

</body>



